header{
  background-color: #EDFFFF;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #EDFFFF;
  color: #000000;
}
.about-text{
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #737373;
}
a:hover{
  color: #FFE4D4;
}
#title{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size: 200%;
  font-weight: 500;
}
h6{
  text-align: center;
}
p{
  padding: 30rem;
  padding-top: 1rem;
  font-size: 20px;
  padding-bottom: 1rem;
}
ul{
  
  padding-left: 35rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}
img {
  width: 20rem;
  text-align: centers;
}

label {
  display: block;
  font-size: 0.9rem;
}

input[type='submit'],
label {
  margin-top: 1rem;
}

.center {
  padding: 10px;
}
.buffer{
  padding-top: 5%;
  width: 100%;
  min-height: 75vh;
  text-align: center;
}

/*   Home page and rooms style   */

.mainSection{
  text-align: center;
}

.joinSection{
  margin-top: 2rem;
  text-align: center;
}

.buffer{
background: linear-gradient(180deg, #EDFFFF, #5C9191);
}


/* login modal*/

.hide{
  display: none;
}

.modal{
  display: inline-grid;
  border-radius: 15px;
  padding: 20px;
  background-color: #A2DEDE;
  text-align: center;
}

#log-in-modal{
  padding: 10px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Add Zoom Animation */
#animate {
  -webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

#cancel-log-in-button {
  max-width: fit-content;
  height: fit-content;
  border-radius: 15%;
}

button:hover {
background-color: #FFE4D4;
border-radius: 15%;
}

.cancel-button-img{
  max-width: 20px;
}

/* rooms css */

#message-container {
  min-height: 10rem;
  max-width: fit-content;
  border-width: 5px;
  border-radius: 1% ;
  border-color: #26272b;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  padding-left: 0rem;
  margin-left: 5rem;
}

#message-container div {
  background-color: #FFE4D4;
  color: #000000;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #B38970;
  color: #fff;
}

.messageSection #send-container{
  padding-top: 10px;
  padding-left: 48rem;
  position:relative;
  min-width: 400px;
}

#room-container{
  padding-top: 5%;
}

#message-input {
  flex-grow: 1;
}


/* scrollable chat box */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}
th,
td {
    text-align: left;
    padding: 8px;
}
/* width */        
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.scroll {
    display: block;
    border: 0px solid red;
    padding: 0px;
    margin-top: 5px;
    width: 100%;
    height: 755px;
    overflow-y: scroll;
}


/* footer */

.footer{
  width: 100%;
  height: 2.5rem;
  padding-bottom: 2.5rem;
  position: absolute;
  bottom: 0;
}
.site-footer
{
  background-color:#81B5B6;
  padding:45px 30px 20px;
  font-size:15px;
  line-height:30px;
  color: #737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  text-align: left;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-bottom: 5px;
  letter-spacing:2px
}
.site-footer a:hover
{
  color: #FFE4D4;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
