<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 page</title>
    <link rel="icon" type="image/x-icon" href="/png/logo-no-background.png" alt="page logo">
    <link rel="stylesheet" href="/home-style.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <header>
        
    </header>

    <section class="mainSection">
        <!--Title-->
        <h1 id="title">What is this website</h1>
        <!--image-->
        <div id="img">
          <a href="/"><img src="/png/logo-no-background.png" alt="home page png"></a>
        </div>
    </section>

    <section class="buffer">
        
    </section>


    <section class="footer">
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="./">Log in</a></li>
                        <li><a href="./about">About</a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </footer>
    </section>
</body>
</html>