<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 page</title>
    <link rel="icon" type="image/x-icon" href="/logo.png" alt="page logo">
    <link rel="stylesheet" href="/home-style.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <section class="section1">
        <!--navigation bar-->
        <ul class="nav-links">
            <li><a href="./rooms">Rooms</a></li>
            <li><a href="./blog">Blog</a></li>
        </ul>
    </section>

    <section class="section2">
        <!--Title-->
        <h1 id="title">404 PAGE</h1>
    </section>

    <section class="buffer1">
        
    </section>

    <section class="footer">
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="./">Log in</a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </footer>
    </section>
</body>
</html>