<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App Homepage</title>
    <link rel="icon" type="image/x-icon" href="/logo.png" alt="page logo">
    <link rel="stylesheet" href="/style.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    // heading
    <section class="section1">
        <header>
        <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
        </header>
    </section>
    // description
    <section class="buffer1">
        <div class="about">
            <h1>About this website</h1>
            <p class="about-text">
                ppp
            </p>
        </div>
    </section>
    // footer
    <section class="footer">
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="./">Home</a></li>
                        <li><a href="./about">About</a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </footer>
    </section>
</body>
</html>