<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App Blog page</title>
    <link rel="icon" type="image/x-icon" href="/png/logo-no-background.png" alt="page logo">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        
    </header>

    <section class="mainSection">
        <!--Title-->
        <h1 id="title">What is this website</h1>
        <!--image-->
        <div id="img">
          <a href="/"><img src="/png/logo-no-background.png" alt="home page png"></a>
        </div>

        <p>
        This website was inspired by my frequent communication with my significant other. 
        My girlfriend is of Mexican heritage and lives in the United States. 
        Although I attend school in Oregon, I am of Italian-Greek heritage and live in 
        Italy during breaks. When I went back home to Italy after the end of the school year, 
        we communicated mostly through messages, Whatsapp, and video calls. 
        We grew to find ways to connect even if it was just virtually or through messages 
        because we could not see each other in person for about 4 months. When thinking 
        of what I wanted my project to be, the first thing that came to mind was to 
        create my own chatroom. 
        </p>
        <h6>(Click image above to go back to home page or scroll down to Quick Links)</h6>

    </section>

    <section class="buffer">
    </section>


    <section class="footer">
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="./">Log in</a></li>
                        <li><a href="./blog">Blog</a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </footer>
    </section>
</body>
</html>