<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Chat App</title>
  <link rel="icon" type="image/x-icon" href="/png/logo-no-background.png" alt="page logo">
  <link rel="stylesheet" href="style.css">
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body>
  <header>
    
  </header>

  <section class="mainSection">
    <!--first page info-->
      <div class="center">
        <!--page image-->
        <div id="logo">
          <img class="logo" src="/png/logo-no-background.png" alt="page image">
          <h1>Welcome to Chat App</h1>
        </div>   
         <p class="about-text">
        How to use this chat service
        </p>
        <!--Title-->
        <a href="/home"><h2 id="title">Login</h2></a>
      </div>
    </section>
    
  <section class="buffer">
        
  </section>

  <section class="footer">
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">

        <hr>
      </div>
    </footer>
  </section>
</body>
</html>